--
-- PostgreSQL database dump
--

\restrict c4Q99MBZChaAhB0WmwqWLuEJH7qux4yOO20bs2nu4seO4HJ5N6nZucy7lF1wgwZ

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ConversationSession; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ConversationSession" (
    id text NOT NULL,
    "userId" text NOT NULL,
    state text NOT NULL,
    payload jsonb,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    version integer DEFAULT 0 NOT NULL
);


ALTER TABLE public."ConversationSession" OWNER TO postgres;

--
-- Name: GrowthEvent; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."GrowthEvent" (
    id text NOT NULL,
    "plantedTreeId" text NOT NULL,
    stage integer NOT NULL,
    "progressIndex" integer NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."GrowthEvent" OWNER TO postgres;

--
-- Name: PlantedTree; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PlantedTree" (
    id text NOT NULL,
    "worldId" text NOT NULL,
    "anchorId" text NOT NULL,
    "treeCatalogId" text NOT NULL,
    "actualStage" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."PlantedTree" OWNER TO postgres;

--
-- Name: TreeCatalog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."TreeCatalog" (
    id text NOT NULL,
    family text NOT NULL,
    stages jsonb NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    type text
);


ALTER TABLE public."TreeCatalog" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "linkCode" text,
    "telegramId" text,
    "currentWorldId" text,
    timezone text DEFAULT 'UTC'::text NOT NULL,
    "digestEnabled" boolean DEFAULT false NOT NULL,
    "digestTime" text
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: UserGoal; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UserGoal" (
    id text NOT NULL,
    "userId" text NOT NULL,
    title text NOT NULL,
    description text,
    "goalType" text NOT NULL,
    "conquestType" text NOT NULL,
    frequency integer,
    "reminderTime" timestamp(3) without time zone,
    completed boolean DEFAULT false NOT NULL,
    "plantedTreeId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "anchorId" text NOT NULL,
    "lastReminderSentAt" timestamp(3) without time zone,
    "dailyStatus" text,
    "silenceUntil" timestamp(3) without time zone,
    "reminderCount" integer DEFAULT 0 NOT NULL,
    "reminderSlotsToday" jsonb,
    "scheduleConfig" jsonb
);


ALTER TABLE public."UserGoal" OWNER TO postgres;

--
-- Name: World; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."World" (
    id text NOT NULL,
    "worldId" text NOT NULL,
    name text NOT NULL,
    "svgPath" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."World" OWNER TO postgres;

--
-- Name: WorldConfig; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."WorldConfig" (
    id integer NOT NULL,
    "worldId" text NOT NULL,
    anchors jsonb NOT NULL,
    "defaultTreeType" text,
    "defaultGrowth" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."WorldConfig" OWNER TO postgres;

--
-- Name: WorldConfig_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."WorldConfig_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."WorldConfig_id_seq" OWNER TO postgres;

--
-- Name: WorldConfig_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."WorldConfig_id_seq" OWNED BY public."WorldConfig".id;


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: WorldConfig id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorldConfig" ALTER COLUMN id SET DEFAULT nextval('public."WorldConfig_id_seq"'::regclass);


--
-- Data for Name: ConversationSession; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: GrowthEvent; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: PlantedTree; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: TreeCatalog; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: UserGoal; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: World; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."World" (id, "worldId", name, "svgPath", "createdAt", "updatedAt") FROM stdin;
ca2d9e5f-a494-49a7-9cbc-26996570bb24	lago	Lago	supabase://jardim-das-conquistas/words/lago/bg.svg	2026-02-25 18:18:46.744	2026-02-25 18:18:46.744
bf2224f2-8254-492c-9654-768c810189da	leticia	Leticia	supabase://jardim-das-conquistas/words/leticia/bg.svg	2026-02-25 18:18:50.642	2026-02-25 18:18:50.642
70702d64-27a7-476b-8bd3-b5d646807301	montanha	Montanha	supabase://jardim-das-conquistas/words/montanha/bg.svg	2026-02-25 18:18:54.675	2026-02-25 18:18:54.675
\.


--
-- Data for Name: WorldConfig; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: WorldConfig_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."WorldConfig_id_seq"', 3, true);


--
-- Name: ConversationSession ConversationSession_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ConversationSession"
    ADD CONSTRAINT "ConversationSession_pkey" PRIMARY KEY (id);


--
-- Name: ConversationSession ConversationSession_userId_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ConversationSession"
    ADD CONSTRAINT "ConversationSession_userId_key" UNIQUE ("userId");


--
-- Name: GrowthEvent GrowthEvent_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."GrowthEvent"
    ADD CONSTRAINT "GrowthEvent_pkey" PRIMARY KEY (id);


--
-- Name: PlantedTree PlantedTree_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PlantedTree"
    ADD CONSTRAINT "PlantedTree_pkey" PRIMARY KEY (id);


--
-- Name: TreeCatalog TreeCatalog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TreeCatalog"
    ADD CONSTRAINT "TreeCatalog_pkey" PRIMARY KEY (id);


--
-- Name: UserGoal UserGoal_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserGoal"
    ADD CONSTRAINT "UserGoal_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: WorldConfig WorldConfig_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorldConfig"
    ADD CONSTRAINT "WorldConfig_pkey" PRIMARY KEY (id);


--
-- Name: World World_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."World"
    ADD CONSTRAINT "World_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: TreeCatalog_family_type_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "TreeCatalog_family_type_key" ON public."TreeCatalog" USING btree (family, type);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_linkCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_linkCode_key" ON public."User" USING btree ("linkCode");


--
-- Name: User_telegramId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_telegramId_key" ON public."User" USING btree ("telegramId");


--
-- Name: WorldConfig_worldId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "WorldConfig_worldId_key" ON public."WorldConfig" USING btree ("worldId");


--
-- Name: World_worldId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "World_worldId_key" ON public."World" USING btree ("worldId");


--
-- Name: ConversationSession ConversationSession_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ConversationSession"
    ADD CONSTRAINT "ConversationSession_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: GrowthEvent GrowthEvent_plantedTreeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."GrowthEvent"
    ADD CONSTRAINT "GrowthEvent_plantedTreeId_fkey" FOREIGN KEY ("plantedTreeId") REFERENCES public."PlantedTree"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PlantedTree PlantedTree_treeCatalogId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PlantedTree"
    ADD CONSTRAINT "PlantedTree_treeCatalogId_fkey" FOREIGN KEY ("treeCatalogId") REFERENCES public."TreeCatalog"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: UserGoal UserGoal_plantedTreeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserGoal"
    ADD CONSTRAINT "UserGoal_plantedTreeId_fkey" FOREIGN KEY ("plantedTreeId") REFERENCES public."PlantedTree"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: UserGoal UserGoal_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserGoal"
    ADD CONSTRAINT "UserGoal_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: WorldConfig WorldConfig_worldId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorldConfig"
    ADD CONSTRAINT "WorldConfig_worldId_fkey" FOREIGN KEY ("worldId") REFERENCES public."World"("worldId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict c4Q99MBZChaAhB0WmwqWLuEJH7qux4yOO20bs2nu4seO4HJ5N6nZucy7lF1wgwZ

